.pole{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}
h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}